@{
    ViewBag.Title = "Meal Planner";
}

<div class="jumbotron">
    <h1>Meal Planner Tool</h1>
    <p class="lead">Meal Planner is a tool to pick food options and plan calculated and healthy meals.</p>
</div>

<div class="row panel">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Browse through the different foods and ingredients and make smart choices to plan meals.</p>
    </div>
    <div class="col-md-4">
        <h2>Ingredients</h2>
        <p>Track the nutrition profile of each ingredient for all the macro nutrients and total calories.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Foods</h2>
        <p>Foods consist of one or more ingredients. The nutrition profile will be the summation of the individual ingredients.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>